.align-center {
    justify-content: center;
    align-items: center;
}

.form-height {
    width: 35%;
}
 
button, input {
    background: var(--text-primary);
    color: var(--background-primary);
}

.signup-button {
    width: 40%;
    margin-left: -5rem;
}


@media only screen and (max-width: 900px) {
    input{
        width: 50vw ;
    }

    .signup-button {
        margin-left: 3rem;
        margin-bottom: 1rem;
    }

    .form-height{
        width: 50%;
    }
}