.video-desc {
  width: 15rem;
  padding-left: 2rem;
}

.video_player {
  width: 50rem;
  height: 34rem;
}

.content-title {
  font-weight: 700;
}

.action-icons {
  gap: 20px;
  margin-left: 3rem;
}

.icon {
  height: 24px;
  width: 24px;
  background-color: var(--background-primary);
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 815px) {
  .video_player {
    width: 27rem;
    height: 21rem;
  }
}

@media screen and (max-width: 743px) {
  .video-desc {
    width: 100%;
    padding-right: 3rem;
  }
  .video_player {
    width: 31rem;
    height: 24rem;
    padding-left: 2rem;
  }
}
