.cards {
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 2rem;
    background: var(--background-primary);
    border: 1px solid var(--text-primary);
}

.image {
    display: block;
    height: 12.5rem;
    width: auto
}

.card_button {
    background: var(--primary-color);
    color: var(--text-primary);
    padding: 6px 12px;
    margin: auto;
}

.watch_all_button {
    padding: 6px 12px;
    border: 1px solid var(--text-primary);
    margin: 5rem auto;
}

.watch_all_button:hover{
    cursor: pointer;
    background: var(--text-secondary);
}

.text-decoration-none {
    text-decoration: none;
}