.video_card {
    width: 17rem;
    gap: 10px;
    margin: 10px;
}

.video_card:hover{
    cursor: pointer;
}

.card_image {
    height: 11rem;
    width: 17rem;
}

.card_icon {
    background: var(--primary);
}

.video_title {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-primary);
}

.watchlist_icon {
    background: var(--secondary);
}

.play_btn {
    text-decoration: none;
}

.watchlist-btn:disabled,
watchlist-btn[disabled]{
  border: 1px solid #999999;
  background: #cccccc;
  color: #666666;
}

.watchlist-btn:disabled:hover {
    cursor: not-allowed;
}