.App {
  text-align: center;
}

.clear_history_btn {
  width: 5.5rem;
  height: 1.3rem;
  padding: 6px 8px 2px 8px;
  background: var(--text-secondary);
  color: var(--background-secondary);
  margin-left: auto;
  margin-right: 2rem;
}