@import url('https://regalUI.netlify.app/styles.css');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

:root {
  --background-primary: #212121;
  --background-secondary: #181818;
  --text-primary: #fff;
  --text-secondary: #aaa;
  --text-disabled: #717171; 
}

* {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-primary);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}